@import "../abstracts/variables";

// Reusable mixins
@mixin btn {
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Helvetica, sans-serif;
  cursor: pointer;
}

.btn-prim {
  @include btn;
  background-color: $color-primary;
  padding: 1rem;
  color: $color-white;
  height: 58px;

  &:hover {
    background-color: $color-primary-hover;
  }

  &:active {
    background-color: $color-primary-active;
  }
}

@media (max-width: 600px) {
  .btn-prim {
    height: 48px;
  }
}
