.video-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  h1 {
    margin: unset;
    color: $color-white;
    cursor: default;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.video-card {
  width: calc(25% - 20px); // 4 Videos pro Reihe, minus der Lücke
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: $color-black;
  box-shadow: 0px 0px 5px $color-hover-black-70;
  max-height: 179.66px;
  cursor: pointer;

  &:hover {
    transform: scale(1.5);
    box-shadow: 0 4px 8px $color-hover-black-70;
  }

  .video-thumbnail {
    width: 100%;
    border-radius: 8px;
    height: auto;
    display: block;
  }

  .video-info {
    padding: 10px;
    text-align: center;

    h3 {
      font-size: 1rem;
      margin: 10px 0;
      color: $color-white;
    }

    p {
      font-size: 0.875rem;
      color: $color-white-70;
    }
  }
}
