input[type="email"],
input[type="password"],
input[type="text"] {
  height: calc(58px - 2px);
  border: 1px solid $color-white-70;
  border-radius: $border-radius-base;
  background-color: $color-black-50 !important;
  color: $color-white-70;
  font-size: $font-size-medium;
  padding: 0 1rem;
}

@media (max-width: 600px) {
  input {
    height: 48px;
  }
}

.input-error {
  border: 1px solid $color-error !important;
}
