<header>
  <!-- Logo not logged in -->
  <a [routerLink]="['/login']" *ngIf="!isAuthenticated()">
    <img src="../../../../assets/logos/logo_long.png" alt="videoflix-logo" />
  </a>

  <!-- Logo logged in -->
  <img
    src="../../../../assets/logos/logo_long.png"
    alt="videoflix-logo"
    *ngIf="isAuthenticated()"
  />

  <!-- Header rigth -->
  <div class="nav">
    <button
      *ngIf="isInvisibleLoginBtn() && !isAuthenticated()"
      class="btn-prim"
      [routerLink]="['/login']"
    >
      Einloggen
    </button>

    <ul class="nav-menu" *ngIf="isAuthenticated()">
      <li>
        <button class="menu-btn" (click)="toggleDropdown($event)">
          <img src="../../../../assets/icons/profil.png" alt="Profile img" />
          <img
            id="dropdown-arrow"
            src="../../../../assets/icons/arrow-16.png"
            alt="Menu arrow"
            [ngClass]="{
              rotate: dropdownOpen,
              'starting-position': !dropdownOpen
            }"
          />
        </button>
        <ul
          *ngIf="dropdownOpen"
          class="dropdown-menu"
          [ngClass]="{ 'dropdown-menu': true, show: dropdownOpen }"
        >
          <li routerLinkActive="active">
            <a routerLink="/home">Startseite</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/upload">Meine Videos</a>
          </li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
