@import "../../../../styles/main";

header {
  @include flex-center(row, space-between);
  height: calc(#{$header-height-small} - 4rem);
  padding: 2rem;
  width: 100%;
  img {
    height: 24px;
    cursor: pointer;
  }
}

button {
  height: 32px !important;
}

@media (min-width: $view-mobile-max-width) {
  header {
    height: $header-height-large;
    width: $view-desktop-max-width;
    padding: 0 10%;
    box-sizing: border-box;
    img {
      height: 40px;
    }
  }
}
