header {
  height: calc(80px - 4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  img {
    height: 24px;
    cursor: pointer;
  }
}

button {
  height: 32px;
}

@media (min-width: 600px) {
  header {
    height: calc(92px - 4rem);
    margin: 0 10%;
    img {
      height: 40px;
    }
  }
}
