@import "../../../../styles/main";

header {
  @include flex-center(row, space-between);
  height: calc(#{$header-height-small} - 4rem);
  padding: 2rem;
  width: 100%;
  img {
    height: 24px;
    cursor: pointer;
  }
}

button {
  height: 32px !important;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin: 0 1rem;
}

#dropdown-arrow.rotate {
  transform: rotate(0turn);
}
#dropdown-arrow.starting-position {
  transform: rotate(0.5turn);
}

.menu-btn {
  @include flex-center();
  background-color: unset;
  border: unset;
  cursor: pointer;
  #dropdown-arrow {
    margin-left: 1rem;
    height: 1rem;
    transition: transform 0.3s ease;
  }
}

.dropdown-menu {
  position: absolute;
  top: 80px;
  background-color: #fff;
  color: #000;
  list-style: none;
  padding: 10px;
  border: 1px solid #ddd;
}

@media (min-width: $view-mobile-max-width) {
  header {
    height: $header-height-large;
    width: $view-desktop-max-width;
    padding: 0 10%;
    box-sizing: border-box;
    img {
      height: 40px;
    }
  }
}
