@import "../../../../../styles/main";

.card {
  background-color: $color-white;
  color: $color-black;
}

.inputs {
  @include flex-center(column, center, flex-start);
  gap: 0.5rem;
  margin: 1rem 0;
  input[type="password"] {
    color: $color-black !important;
    background-color: $color-white !important;
    border: 1px solid $color-black-70;
    width: calc(100% - 2rem - 2px);
  }
}

button {
  width: 100%;
  font-size: 1rem;
}
