<div class="content-container">
  <app-header></app-header>

  <main class="main-content">
    <div class="page-content">
      <div class="card">
        <form
          class="card-container"
          autocomplete="off"
          (submit)="submitChangePassword()"
        >
          <h1>Passwort zurücksetzen:</h1>
          <p>Hier können Sie Ihr Passwort ändern</p>
          <div class="inputs">
            <label for="password">Neues Passwort:</label>
            <input
              id="password"
              type="password"
              placeholder="Neues Passwort"
              name="password"
              [(ngModel)]="password"
              (ngModelChange)="confirmPasswordMatch(); checkPassword()"
              [ngClass]="{
                'is-valid':
                  !passwordErrorLength &&
                  !passwordErrorComplex &&
                  password.length > 0,
                'is-invalid':
                  (!passwordsMatch && confirmPassword !== '') ||
                  passwordErrorLength
              }"
            />

            <div>
              <p *ngIf="passwordErrorLength" class="error-message">
                Das Passwort muss min. 6 Zeichen lang sein.
              </p>
              <p *ngIf="passwordErrorComplex" class="error-message">
                Dein neues Passwort sollte:<br />
                Groß- und Kleinschreibung und eine kombination aus Buchstaben
                und Zahlen enthalten.
              </p>
            </div>

            <label for="password-2">Passwort Wiederholen:</label>
            <input
              id="confirmPassword-2"
              type="password"
              placeholder="Passwort wiederholen"
              name="confirmPassword"
              [(ngModel)]="confirmPassword"
              (ngModelChange)="confirmPasswordMatch()"
              [ngClass]="{
                'is-valid': passwordsMatch,
                'is-invalid': !passwordsMatch && password !== ''
              }"
            />
            <div
              *ngIf="!passwordsMatch && confirmPassword !== ''"
              class="error-message"
            >
              Die Passwörter stimmen nicht überein.
            </div>
          </div>
          <button class="btn-prim" [disabled]="!passwordsMatch">
            Passwort ändern
          </button>
        </form>
      </div>
    </div>

    <app-footer></app-footer>
  </main>
</div>
