@import "../../../../../styles/main";

.card {
  background-color: $color-white;
  color: $color-black;
}

.inputs {
  @include flex-center(column, center, flex-start);
  gap: 0.5rem;
  margin: 1rem 0;
  input[type="password"] {
    color: $color-black !important;
    background-color: $color-white !important;
    border: 1px solid $color-black-70;
    width: calc(100% - 2rem - 2px);
  }
}

/* Visuelle Hinweise für die Passworteingaben */
.inputs input.is-valid {
  border-color: #4caf50; /* Grün für gültig */
}

.inputs input.is-invalid {
  border-color: #f44336; /* Rot für ungültig */
}

/* Fehlermeldungsstil */
.error-message {
  color: #f44336;
  font-size: 14px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  font-size: 1rem;
}
