<app-background-img></app-background-img>

<div class="content-container">
  <app-header></app-header>

  <main class="main-content">
    <div class="page-content">
      <div class="card">
        <form class="card-container" autocomplete="off">
          <h1>Passwort zurücksetzen:</h1>
          <p>Hier können Sie Ihr Passwort ändern</p>
          <div class="inputs">
            <label for="password">Neues Passwort:</label>
            <input
                id="password"
              type="password"
              placeholder="Neues Passwort"
              name="password"
            />
            <label for="password-2">Passwort Wiederholen:</label>
            <input
            id="password-2"
              type="password"
              placeholder="Passwort wiederholen"
              name="password-2"
            />
          </div>
          <button class="btn-prim">Passwort ändern</button>
        </form>
      </div>
    </div>

    <app-footer></app-footer>
  </main>
</div>
