@import "../../../../../styles/main";

app-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
}

app-footer {
  height: 20dvh;
}

main {
  position: absolute;
  top: 80px;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  app-footer {
    display: flex;
    height: 20dvh;
    width: 100dvw;
  }
}

.card {
  color: $color-white;
  background-color: $color-black-70;
  margin: 2rem;
  padding: 1rem;
  width: calc(100% - 6rem);
  border-radius: $border-radius-base;
  text-align: center;

  &-container-interaction {
    input {
      width: 100%;
    }
  }
}
