@import "../../../../../styles/main";

app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

app-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
}

.content {
  position: absolute;
  top: 92px;
  bottom: 20%;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &-container {
    background-color: $color-black-70;
    padding: 3rem;
    border: $border-radius-base;
    margin: 2rem;
    &-text {
      color: $color-white;
      max-width: 500px;
    }
    &-interaction {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 1rem;
      width: 100%;
      max-width: 500px;
    }
  }
}

input {
  width: calc(100% - 3rem - 150px);
}

button {
  font-size: $font-size-medium;
}

@media (max-width: 600px) {
  .content {
    &-container {
      &-interaction {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  input {
    width: 100%;
  }
  button{
    max-width: fit-content;
  }
}
