<app-background-img></app-background-img>

<!-- ignore-prettier -->
<app-header></app-header>

<div class="content">
  <div class="content-container">
    <div class="content-container-text">
      <h2>Unbegrenzt Filme, Serien und mehr</h2>
      <h3>Genießen Sie Videoflix wo immer Sie möchten. Jederzeit kündbar.</h3>
      <p>
        Sind Sie startklar? Geben Sie Ihre E-Mail-Adresse ein, um Ihre
        Mitgliedschaft zu beginnen oder zu reaktivieren.
      </p>
    </div>
    <div class="content-container-interaction">
      <input type="email" placeholder="E-Mail-Adresse" />
      <button class="btn-prim">Loslegen ></button>
    </div>
  </div>
</div>

<!-- ignore-prettier -->
<app-footer></app-footer>
