@import "../../../../../styles/main";

.container-landingpage {
  position: relative;
  top: 0;
  left: 0;
}

app-header {
  @include flex-center();
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
}

main {
  @include flex-center(column);
  @include responsive-main($header-height-small, $header-height-large);

  .content {
    @include flex-center(column);
    min-height: calc(100dvh - #{$footer-height} - #{$header-height-small});
  }

  app-footer {
    display: flex;
    height: 20dvh;
    width: 100dvw;
    max-width: $view-desktop-max-width;
  }
}

.card {
  width: calc(100% - 8rem);
  text-align: center;
  &-container-text {
    h1 {
      margin: 0 0 2rem 0;
    }
  }

  &-container-interaction {
    @include flex-center(column);
    gap: 1rem;
    input {
      width: calc(100% - 2rem - 2px);
    }
  }
}

@media (min-width: $view-mobile-max-width) {
  .content {
    min-height: calc(100dvh - #{$footer-height} - #{$header-height-large});
  }

  .card {
    width: 600px;
    &-container-interaction {
      @include flex-center(row, space-between);
      input {
        width: calc(100% - 200px);
      }
      button {
        font-size: 1.5rem;
      }
    }
  }

  .card-container-text {
    h1 {
      font-size: 3rem;
    }
    .font-mid {
      font-size: 24px;
    }
    .font-small {
      font-size: 20px;
    }
  }
}
