<div class="card">
  <div class="card-container">
    <div class="card-container-text">
      <h1>Unbegrenzt Silme, Serien und mehr</h1>
      <p class="font-mid">
        Genießen Sie Videoflix wo immer Sie möchten. Jederzeit kündbar.
      </p>
      <p class="font-small">
        Sind Sie startklar? Geben Sie Ihre E-Mail-Adresse ein, um Ihre
        Mitgliedschaft zu beginnen oder zu reaktivieren.
      </p>
    </div>

    <form
      class="card-container-interaction"
      (submit)="navigateToLogin()"
    >
      <div>
        <input
          id="name"
          name="email"
          type="email"
          placeholder="E-Mail-Adresse"
          [(ngModel)]="email"
          [ngClass]="{'input-error': emailError}"
          required
        />
        <label
          *ngIf="emailError"
          class="errors"
          for="email"
        >
          <img src="../../../../../assets/icons/error-16.png" alt="error" />
          Gib bitte eine gültige E-Mail-Adresse ein.
        </label>
      </div>
      <button class="btn-prim">Loslegen ></button>
    </form>
  </div>
</div>
