@import "../abstracts/mixins";
@import "../abstracts/variables";

.content-container {
  position: relative;
  top: 0;
  left: 0;
}

app-header {
  @include flex-center();
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
}

.main-content {
  @include flex-center(column);
  @include responsive-main($header-height-small, $header-height-large);
}

.page-content {
  @include flex-center(column);
  min-height: calc(100dvh - #{$footer-height} - #{$header-height-small});
}

app-footer {
  display: flex;
  height: 20dvh;
  width: 100dvw;
  max-width: $view-desktop-max-width;
}

@media (min-width: $view-mobile-max-width) {
  .page-content {
    min-height: calc(100dvh - #{$footer-height} - #{$header-height-large});
  }
}
