@import "../abstracts/mixins";
@import "../abstracts/variables";

.content-container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

app-header {
  @include flex-center();
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.main-content {
  @include flex-center(column);
  @include responsive-main($header-height-small, $header-height-large);
}

.page-content {
  @include flex-center(column);
  min-height: calc(100dvh - #{$footer-height} - #{$header-height-small});
  width: 100%;
}

app-footer {
  border-top: 1px solid $color-white-70;
  display: flex;
  height: 20dvh;
  width: 100dvw;
  max-width: $view-desktop-max-width;
}

@media (min-width: $view-mobile-max-width) {
  .page-content {
    min-height: calc(100dvh - #{$footer-height} - #{$header-height-large});
  }

  app-footer {
    border-top: 0;
    height: 20dvh;
  }
}
