@import "../abstracts/mixins";
@import "../abstracts/variables";

.content-container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

app-header {
  @include flex-center();
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.main-content {
  @include flex-center(column);
  @include responsive-main($header-height-small, $header-height-large);
}

.page-content {
  @include flex-center(column);
  min-height: calc(100dvh - #{$footer-height} - #{$header-height-small});
  width: 100%;
}

.legals {
  background-color: $color-black-70;
  padding: 2rem;
  max-width: $view-desktop-max-width;
  color: $color-white;
  align-items: flex-start;
  box-sizing: border-box;
  border-top: 1px solid $color-white-70;
  border-bottom: 1px solid $color-white-70;

  p,
  li {
    font-size: $font-size-small;
  }
}

app-footer {
  border-top: 1px solid $color-white-70;
  display: flex;
  height: 20dvh;
  width: 100%;
  max-width: $view-desktop-max-width;
}

@media (min-width: $view-mobile-max-width) {
  .page-content {
    min-height: calc(100dvh - #{$footer-height} - #{$header-height-large});
  }

  app-footer {
    border-top: 0;
    height: 20dvh;
  }
}
