// Colors, spacing, etc.
$color-white: #ffffff;

$color-primary: #141414;
$color-primary-70: rgba(20, 20, 20, 0.7);
$color-primary-50: rgba(20, 20, 20, 0.5);

$color-secondary: #e50914;

// Font-sizes
$font-size-xlarge: 43px;
$font-size-large: 24px;
$font-size-medium: 20px;
$font-size-small: 16px;

// Border-radius
$border-radius-base: 4px;
