<div class="overlay" *ngIf="isVisible">
  <div class="overlay-content">
    <button class="close-button" (click)="close()">×</button>
    <video controls autoplay>
      <source [src]="video.file" type="video/mp4" />
      Ihr Browser unterstützt das Video-Tag nicht.
    </video>
    <div class="video-delete">
      <button (click)="deleteVideo()" class="delete-button">
        <img src="../../../../assets/icons/delete-32.png" alt="delete icon" />
      </button>
    </div>
    <div class="video-info">
      <h1>{{ video.title }}</h1>
      <p>{{ video.description }}</p>
    </div>
  </div>
</div>
