@import "../../../../styles/main";

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.vid-content {
  @include flex-center(column);
  width: 100%;
  height: calc(100dvh - #{$header-height-small});
  margin-top: -#{$header-height-small};
  margin-bottom: 40px; // Abstand zur Galerie
}

// Styling für das hervorgehobene Video
.featured-video {
  position: relative;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .featured-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
  }
}

.video-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.video-card {
  width: 200px;
  cursor: pointer;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.video-info {
  padding: 8px;
}

@media (min-width: $view-mobile-max-width) {
  .page-content {
    min-height: calc(100dvh - #{$header-height-large});
  }
  .vid-content {
    height: calc(100dvh - #{$header-height-large});
    margin-top: -#{$header-height-large};
  }
}
