@import "../../../../styles/main";

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.vid-content {
  @include flex-center(column);
  width: 100%;
  margin-top: -#{$header-height-small};
  margin-bottom: 40px; // Abstand zur Galerie
}

.galerys {
  display: flex;
  flex-direction: column;
  app-global-video-galery {
    margin-bottom: 2rem;
  }
}

@media (min-width: $view-mobile-max-width) {
  .page-content {
    min-height: calc(100dvh - #{$header-height-large});
  }
  .vid-content {
    margin-top: -#{$header-height-large};
  }
}
