@import "../../../../styles/main";

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.vid-content {
  @include flex-center(column);
  width: 100%;
  margin-top: -#{$header-height-small};
  margin-bottom: 40px; // Abstand zur Galerie
}

// Styling für die Galerie
.video-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-card {
  width: calc(25% - 20px); // 4 Videos pro Reihe, minus der Lücke
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  .video-thumbnail {
    width: 100%;
    border-radius: 8px;
    height: auto;
    display: block;
  }

  .video-info {
    padding: 10px;
    text-align: center;

    h3 {
      font-size: 1rem;
      margin: 10px 0;
      color: #fff;
    }

    p {
      font-size: 0.875rem;
      color: #666;
    }
  }
}

@media (min-width: $view-mobile-max-width) {
  .page-content {
    min-height: calc(100dvh - #{$header-height-large});
  }
  .vid-content {
    margin-top: -#{$header-height-large};
  }
}
