<div class="content-container">
  <app-header></app-header>

  <main class="main-content">
    <div class="vid-content">
      <app-featured-video
        [featuredVideo]="featuredVideo!"
        (play)="playVideo($event)"
      ></app-featured-video>
      <div class="galerys">
        <app-global-video-galery
          [globalVideos]="globalVideos"
          (play)="playVideo($event)"
        ></app-global-video-galery>
        <app-local-video-galery
          [localVideos]="localVideos"
          (play)="playVideo($event)"
        ></app-local-video-galery>
      </div>
    </div>

    <app-footer></app-footer>
  </main>

  <app-video-overlay
    [videoFile]="overlayVideoFile"
    [videoTitle]="overlayVideoTitle"
    [videoDescription]="overlayVideoDescription"
    #videoOverlay
  ></app-video-overlay>
</div>
