@import "../../../../styles/main";

.featured-video {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;

  .featured-thumbnail-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .featured-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black-50;
    z-index: 1;
  }

  .featured-video-info {
    position: absolute;
    top: 50%;
    left: 0; // Offset from the left for centering
    margin-left: 10%;
    width: 60%; // Adjust width as needed
    z-index: 2;
    color: #fff;
    transform: translateY(-50%); // Vertical centering
    text-align: left;
  }

  h1 {
    margin: 0 0 1.5rem 0;
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
  }

  .btn-prim {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #b00610;
    }
  }
}
