<div class="featured-video" *ngIf="featuredVideo">
  <div class="featured-thumbnail-wrapper">
    <img
      [src]="featuredVideo.thumbnail"
      [alt]="featuredVideo.title"
      class="featured-thumbnail"
    />
    <div class="overlay"></div>
    <div class="featured-video-info">
      <h1>{{ featuredVideo.title }}</h1>
      <p>{{ featuredVideo.description }}</p>
      <button class="btn-prim" (click)="playVideo(featuredVideo.file)">
        <img
          class="play-arrow"
          src="../../../../assets/icons/arrow-16.png"
          alt="play-arrow"
        />
        Abspielen
      </button>
    </div>
  </div>
</div>
