<div class="card">
  <form class="card-container" autocomplete="off">
    <h1>Anmelden</h1>

    <input type="email" placeholder="Deine E-Mail-Adresse" autocomplete="off" />
    <input type="text" placeholder="Benutzername" autocomplete="off" />
    <input type="password" placeholder="Passwort" autocomplete="off" />
    <input
      type="password"
      placeholder="Passwort wiederholen"
      autocomplete="off"
      autocomplete="new-password"
    />

    <button class="btn-prim">Jetzt Registrieren</button>

    <p>Du hast bereits ein Account? <a href="/login">Hier Einloggen</a></p>
  </form>
</div>
