<div class="card">
  <form class="card-container" autocomplete="off">
    <h1>Einloggen</h1>

    <input
      type="email"
      placeholder="Deine E-Mail-Adresse"
      autocomplete="false"
    />
    <input type="text" placeholder="Benutzername" />
    <input type="password" placeholder="Passwort" autocomplete="false" />
    <input type="password" placeholder="Passwort wiederholen" />

    <button class="btn-prim">Jetzt Registrieren</button>

    <p>Du hast bereits ein Account?? <a href="/login">Hier Einloggen.</a></p>
  </form>
</div>
