@import "../../../../styles/main";

footer {
  background: $color-black-70;
  @include flex-center();
  gap: 2rem;
  height: 100%;
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  @include flex-center;
  gap: 0.5rem;
}

span,
a {
  color: $color-white;
  text-decoration: none;
  font-size: $font-size-small;
}

a:hover {
  text-decoration: underline;
}
