<div class="card">
    <form class="card-container">
        <h1>Einloggen</h1>
        
        <input type="email" placeholder="E-Mail-Adresse" />
        <input type="password" placeholder="Passwort">

        <button class="btn-prim">Einloggen ></button>
      
        <a href="#">Passwort vergessen?</a>

        <div>
            <input id="save-user-data" type="checkbox">
            <label for="save-user-data">Benutzerdaten merken?</label>
        </div>

        <p>Neu bei Videoflix? <a href="#">Jetzt registrieren</a></p>
    </form>
  </div>