<div class="card">
  <form class="card-container" (ngSubmit)="login()">
    <h1>Einloggen</h1>

    <div>
      <input
        name="email"
        type="email"
        placeholder="E-Mail-Adresse"
        [(ngModel)]="email"
        [ngClass]="{ 'input-error': emailError }"
        [ngModelOptions]="{ standalone: true }"
        required
      />
      <label class="errors" for="email" *ngIf="emailError">
        <img src="../../../../../assets/icons/error-16.png" alt="error" />
        Hmm..., etwas stimmt mit deinem E-Mail-Adressen Format nicht.
      </label>
    </div>

    <div>
      <input
        name="password"
        type="password"
        placeholder="Passwort"
        [(ngModel)]="password"
        [ngClass]="{ 'input-error': passwordError }"
        required
      />
      <label class="errors" for="email" *ngIf="passwordError">
        <img src="../../../../../assets/icons/error-16.png" alt="error" />
        Ups, da ist dir wohl beim EIngeben ein Fehler unterlaufen.
      </label>
    </div>

    <button class="btn-prim">Einloggen ></button>

    <a href="/loginHelp">Passwort vergessen?</a>

    <div class="checkbox">
      <input id="save-user-data" type="checkbox" />
      <label for="save-user-data">Benutzerdaten merken?</label>
    </div>

    <p>Neu bei Videoflix? <a href="/register">Jetzt registrieren</a></p>
  </form>
</div>
