@import "../../../styles/main";

.background {
  @include position-corner(fixed, 0, 0);
  width: 100dvw;
  height: 100dvh;

  img {
    max-width: $view-desktop-max-width;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  &--shade {
    background-color: $color-black-50;
    max-width: $view-desktop-max-width;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: $view-desktop-max-width) {
  .background {
    @include flex-center();
    left: unset;
  }
}
